@import '~@angular/material/theming';

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-pink);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

$colors: (app-main: #00bdcd,
	app-light: #7ee7ec,
	app-dark: #0096a5,
	background: #f8f8f8,
	background-secondary: #fff,
	light-text: #fff,
	nav-buttons: #000,
	shadow: #000,
	G50: #f3f3f3,
	G100: #e6e7e8,
	G200: #d1d3d4,
	G300: #bcbec0,
	G400: #a7a9ac,
	G500: #939598,
	G600: #808285,
	G700: #6d6e71,
	G800: #58595b,
	G900: #414042,
);
