@import 'variables';
@import 'colors';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: $default-font !important;
	background-color: mat-color($colors, background);
	font-size: 14px;
	height: 100%;
	width: 100%;
	min-width: 340px;
}

button {
	font-family: $default-font;
	cursor: pointer;
}

.mat-form-field {
	font-family: $default-font;
}

.mat-option {
	font-family: $default-font;
}

.submit-button {
	background: mat-color($colors, G100);
	color: mat-color($colors, G900);
	width: 175px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border: none;
	outline: none;
	cursor: pointer;
	height: 50px;
}

.spinner {
	margin: auto;
}

.no-data-mat-card {
	color: mat-color($colors, G500);
	padding: 30px;
	font-weight: bold;
	margin-top: 25px;
	font-size: 16px;
}

.main-table-container {
	margin: 20px 8% 5px;
	box-shadow: 0px 0px 4px 2px rgba(mat-color($colors, shadow), 0.1);
	overflow-x: auto;
	padding: 25px 0 15px;
	min-height: 200px;
	position: relative;

	h2 {
		margin-left: 30px;
		color: mat-color($colors, G900);
		font-size: 20px;
		font-family: $default-font !important;
	}

	p {
		margin-left: 30px;
		color: mat-color($colors, G800);
	}

	.mat-table {
		overflow-y: auto;

		thead {
			tr {
				background-color: mat-color($colors, app-main);
			}
		}
	}

	.add-button {
		background: mat-color($colors, G100);
		color: mat-color($colors, G900);
		width: 175px;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		border: none;
		outline: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		height: 75px;

		.material-icons {
			color: mat-color($colors, app-main);
			font-size: 17px;
			font-weight: bold;
			margin-right: 10px;
			position: relative;
			top: 2px;
		}
	}
}

.mat-table {
	font-family: $default-font !important;
	border-collapse: collapse;
	width: 100%;
	margin-top: 25px;

	thead {
		tr {
			height: auto;
		}

		th {
			text-align: left;
			font-weight: bold;
			color: mat-color($colors, light-text) !important;
			padding: 11px 10px;
			font-size: 15px;
			border-bottom: none;
		}
	}

	tbody {
		tr {
			&:not(.child-row) {
				&:nth-child(odd) {
					background-color: rgba(mat-color($colors, G50), 0.9);
				}

				&:nth-child(even) {
					background-color: rgba(mat-color($colors, G100), 0.9);
				}
			}

			td {
				padding: 11px 10px;
				font-size: 15px;
				border-bottom: 1px solid white;
				color: mat-color($colors, G800);
				font-weight: 200;
			}

			.button-cell {
				padding: 0;
				position: relative;

				&.remove-cell {
					button {
						background: mat-color($colors, G900);
					}
				}

				button {
					background: rgba(mat-color($colors, app-main), 0.9);
					color: mat-color($colors, G100);
					text-align: center;
					font-weight: bold;
					font-size: 12px;
					text-transform: uppercase;
					border: none;
					outline: none;
					cursor: pointer;
					width: 80%;
					padding: 7px 10px;
				}
			}
		}
	}
}
