<div class="main-table-container">
	<h2>{{ 'app.name' | translate }}</h2>
	<button class="add-button" (click)="onCreateClick()">
		<i class="material-icons">add</i>{{ 'buttons.add' | translate }}
	</button>
	<mat-card class="no-data-mat-card" *ngIf="!dataSource || dataSource?.data.length === 0">
		{{'messages.noData' | translate}}</mat-card>
	<table class="table mat-table groups-table" mat-table [dataSource]="dataSource" matSort
		(matSortChange)="sortData($event)" *ngIf="dataSource && dataSource.data.length > 0">
		<ng-container matColumnDef="name">
			<th mat-sort-header mat-header-cell *matHeaderCellDef>{{ 'groups.group' | translate }}</th>
			<td mat-cell *matCellDef="let element" class="bold">{{ element.name }}</td>
		</ng-container>

		<ng-container matColumnDef="count">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'groups.tasksCount' | translate }}</th>
			<td mat-cell *matCellDef="let element">{{ element.tasksCount }}</td>
		</ng-container>
		<ng-container matColumnDef="edit">
			<th mat-header-cell *matHeaderCellDef></th>
			<td class="button-cell edit-cell" mat-cell *matCellDef="let element">
				<button (click)="onEditClick(element)">{{ 'buttons.edit' | translate }}</button>
			</td>
		</ng-container>
		<ng-container matColumnDef="remove">
			<th mat-header-cell *matHeaderCellDef></th>
			<td class="button-cell remove-cell" mat-cell *matCellDef="let element">
				<button (click)="onDeleteClick(element)">{{ 'buttons.delete' | translate }}</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
	</table>
</div>
