<mat-card class="card">
	<mat-card-title class="management-title">{{ 'tasks.management' | translate }}</mat-card-title>
	<div class="users-container">
		<div class="main-table-container">
			<mat-card class="no-data-mat-card" *ngIf="!dataSource || dataSource?.data.length === 0">
				{{'messages.noTasks' | translate}}</mat-card>
			<mat-spinner class="spinner" *ngIf="downloadingTasks"></mat-spinner>
			<table class="table mat-table groups-table" *ngIf="dataSource && dataSource.data.length > 0" mat-table
				[dataSource]="dataSource">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>{{ 'tasks.taskName' | translate }}</th>
					<td mat-cell *matCellDef="let element" class="bold">{{ element.name }}</td>
				</ng-container>

				<ng-container matColumnDef="deadline">
					<th mat-header-cell *matHeaderCellDef>{{ 'tasks.deadline' | translate }}</th>
					<td mat-cell *matCellDef="let element">{{ element.deadlineDate | date: 'dd/MM/yyyy' }}</td>
				</ng-container>
				<ng-container matColumnDef="user">
					<th mat-header-cell *matHeaderCellDef>{{ 'tasks.assignedUser' | translate }}</th>
					<td mat-cell *matCellDef="let element">{{ getUserName(element.userId) }}</td>
				</ng-container>
				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef>{{ 'tasks.status' | translate }}</th>
					<td mat-cell *matCellDef="let element">
						<span *ngIf="element.status === 1">
							{{ 'tasks.new' | translate }}
						</span>
						<span *ngIf="element.status === 2">
							{{ 'tasks.inProgress' | translate }}
						</span>
						<span *ngIf="element.status === 3">
							{{ 'tasks.completed' | translate }}
						</span>
					</td>
				</ng-container>
				<ng-container matColumnDef="edit">
					<th mat-header-cell *matHeaderCellDef></th>
					<td class="button-cell edit-cell" mat-cell *matCellDef="let element">
						<button (click)="onEditClick(element)">
							<i class="material-icons">edit</i>
						</button>
					</td>
				</ng-container>
				<ng-container matColumnDef="remove">
					<th mat-header-cell *matHeaderCellDef></th>
					<td class="button-cell remove-cell" mat-cell *matCellDef="let element">
						<button (click)="onDeleteClick(element)">
							<i class="material-icons">remove_circle</i>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
			</table>
		</div>

		<div class="task-box">
			<p class="clear" (click)="clearForm()">
				{{ 'tasks.clearData' | translate }}
			</p>
			<form [formGroup]="taskForm" class="task-form">
				<mat-form-field>
					<input autocomplete="off" matInput placeholder="{{ 'tasks.taskName' | translate }}"
						formControlName="taskName" />
					<mat-error>
						<p *ngIf="taskForm.hasError('required', 'taskName')">
							{{ 'validation.isRequired' | translate: { field: 'tasks.taskName' | translate } }}
						</p>
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput [matDatepicker]="picker" autocomplete="off" placeholder="{{ 'tasks.deadline' | translate }}"
						formControlName="deadline" />
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
					<mat-error>
						<p *ngIf="taskForm.hasError('required', 'deadline')">
							{{ 'validation.isRequired' | translate: { field: 'tasks.date' | translate } }}
						</p>
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>{{ 'tasks.assignedUser' | translate }}</mat-label>
					<mat-select formControlName="user">
						<mat-option [value]="0">Nie przypisano</mat-option>
						<mat-option *ngFor="let user of users" [value]="user.id">
							{{ user.firstName + ' ' + user.lastName }}
						</mat-option>
					</mat-select>
					<mat-error>
						<p *ngIf="taskForm.hasError('required', 'user')">
							{{ 'validation.isRequired' | translate: { field: 'tasks.date' | translate } }}
						</p>
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ 'tasks.status' | translate }}</mat-label>
					<mat-select formControlName="status">
						<mat-option [value]="1"> {{ 'tasks.new' | translate }}</mat-option>
						<mat-option [disabled]="!selectedTaskId" [value]="2"> {{ 'tasks.inProgress' | translate }}</mat-option>
						<mat-option [disabled]="!selectedTaskId" [value]="3"> {{ 'tasks.completed' | translate }}</mat-option>
					</mat-select>
					<mat-error>
						<p *ngIf="taskForm.hasError('required', 'status')">
							{{ 'validation.isRequired' | translate: { field: 'tasks.date' | translate } }}
						</p>
					</mat-error>
				</mat-form-field>

				<button type="button" class="submit-button" (click)="onSubmitClick()">
					{{ selectedTaskId ? ('buttons.saveChanges' | translate)  : ('buttons.add' | translate  )}}
				</button>
			</form>
		</div>
	</div>
</mat-card>
