@import '../../../../styles/colors';

.card {
	margin-top: 40px;
	box-shadow: 0 0 20px 10px rgba(mat-color($colors, G300), 0.05);

	.management-title {
		padding: 0 2%;
	}

	.users-container {
		display: flex;
		justify-content: stretch;

		.main-table-container {
			flex: 1.5;
			padding: 0 0 15px;
			max-height: 500px;
			margin: 20px 2% 5px;

			.mat-table {
				margin-top: 0;
			}

			.mat-form-field {
				margin: 10px 0;
				height: 60px;
			}

			.no-data-mat-card {
				margin-top: 0;
			}

			button {
				width: 93%;
			}
		}

		.task-box {
			flex: 1;
			padding: 0 7%;

			.task-form {
				display: flex;
				flex-direction: column;
			}

			.clear {
				color: mat-color($colors, app-main);
				cursor: pointer;
				text-align: right;
			}

			.submit-button {
				width: 100%;
			}
		}
	}
}
