<div class="container">
	<mat-card class="card">
		<div class="title-box">
			<button class="button back-button" (click)="router.navigate(['/'])">
				<i class="material-icons">arrow_back</i>
			</button>
			<div class="title">
				<mat-card-title class="title-text">
					{{ isEdit ? ('groups.editGroup' | translate)  : ('groups.addGroup' | translate )}}
				</mat-card-title>
			</div>
		</div>

		<form [formGroup]="groupForm" class="group-form">
			<mat-form-field>
				<input autocomplete="off" matInput placeholder="{{ 'groups.groupName' | translate }}"
					formControlName="groupName" />
				<mat-error>
					<p *ngIf="groupForm.hasError('required', 'groupName')">
						{{ 'validation.isRequired' | translate: { field: 'groups.groupName' | translate } }}
					</p>
				</mat-error>
			</mat-form-field>
			<button class="submit-button" (click)="onSubmitClick()">
				{{ isEdit ? ('buttons.saveChanges' | translate)  : ('buttons.add' | translate  )}}
			</button>
		</form>
	</mat-card>
	<app-tasks-management *ngIf="isEdit" [groupId]="selectedGroup?.id" [tasks]="selectedGroup?.userTasks">
	</app-tasks-management>
</div>
