@import '../../../styles/colors';

.container {
	margin: 20px 8.3% 5px;

	.card {
		margin-top: 40px;
		padding: 35px;
		box-shadow: 0 0 20px 10px rgba(mat-color($colors, G300), 0.05);
	}

	.title-box {
		display: flex;
	}

	.title {
		width: 100%;
		justify-content: center;
		display: flex;
	}

	.title-text {
		margin-top: 6px;
	}

	.group-form {
		padding-top: 30px;
		display: flex;
		justify-content: center;
	}

	.submit-button {
		margin-left: 20px;
	}

	.back-button {
		background: mat-color($colors, app-main);
		width: 100px;
		height: 40px;
		color: mat-color($colors, light-text);
		border: none;
	}
}
